<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjWBooPKOjpQrP5m5HLZqv7CsgJ0Nzpuc</string>
	<key>GCM_SENDER_ID</key>
	<string>1068910061713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.countdownApp</string>
	<key>PROJECT_ID</key>
	<string>ayums-11ds</string>
	<key>STORAGE_BUCKET</key>
	<string>ayums-11ds.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068910061713:ios:d4c9d380a828e70b553730</string>
</dict>
</plist>